<ion-header no-border-bottom>


  <ion-navbar  color="text">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Text</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of items">


    <ion-card-content (click)="showMedia(item)" tappable>
      <ion-card-title>
        {{item.summary}}
      </ion-card-title>
      <div *ngFor="let img of item.photos"> <img class="full-image" src="{{img.original_size.url}}" /> </div>
    </ion-card-content>
  </ion-card>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
