page-home {

  .ion-card-holder{
    position: relative;
  }


  .tag-holder{
    position: absolute;
    font-size: 4.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    top: 36%;

  }
  .menugrid{





  }
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0px;
    width: 100%;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 64%;
    width: 100%;
    color: #fff;
  }

}
